<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Torus</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let item of moviesList">
  <p>{{item.id}}</p>
  <p>{{item.name}}</p>
  <p>{{item.description}}</p>
</div>
<!-- <p>{{https://jsonplaceholder.typicode.com/todos}}</p> -->


  

<!-- <img src="https://images.fridaymagazine.ae/1_2050316/imagesList_0/2816753022_medium.jpg" alt="">
<img src="https://www.onlinebooksreview.com/uploads/blog_images/2019/05/09_Financial-Manager-Career.jpg" class="second"alt=""> -->
</ion-content>

